/**
 * Main.css for CameronDunk.com
 *
 * Copyright 2012-2013, Cameron Dunk
 */

/*
 * Background Image
 * --------------------------------------- */

#bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

/*
 * Masthead (Full-Size Screen)
 * --------------------------------------- */

.masthead {
  position: relative;
  z-index: 200;
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
}

  .masthead h1 {
    display: inline-block;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 92px;
    color: #222;
    margin: 0;
    padding: 0 12px 8px 12px;
    line-height: 92px;
    border-bottom: 1px solid #666;
  }

  .masthead h3 {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    color: #222;
    margin: 0;
    padding: 8px 0 0 0;
  }

  .masthead p {
    margin: 0;
    padding: 8px 0;
  }

    .masthead p a {
      color: #222;
      text-decoration: none;
      font-family: 'Abel', sans-serif;
      font-weight: 400;
      font-size: 25px;
    }

/*
 * Masthead (Landscape Phone to desktop/tablet)
 * --------------------------------------- */

@media (max-width: 767px) {
  .masthead {
    position: relative;
    z-index: 200;
    text-align: center;
    margin: 0 auto;
    padding-top: 15%;
  }

    .masthead h1 {
      display: inline-block;
      font-family: 'Abril Fatface', cursive;
      font-weight: 400;
      font-size: 70px;
      color: #222;
      margin: 0;
      padding: 0 12px 8px 12px;
      line-height: 70px;
      border-bottom: 1px solid #666;
    }

    .masthead h3 {
      font-family: 'Abel', sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 28px;
      color: #222;
      margin: 0;
      padding: 8px 0 0 0;
    }

    .masthead p {
      margin: 0;
      padding: 8px 0;
    }

      .masthead p a {
        color: #222;
        text-decoration: none;
        font-family: 'Abel', sans-serif;
        font-weight: 400;
        font-size: 18px;
      }
}

/*
 * Masthead (Up to Landscape Phones)
 * --------------------------------------- */

@media (max-width: 480px) {
  .masthead {
    position: relative;
    z-index: 200;
    text-align: center;
    margin: 0 auto;
    padding-top: 15%;
  }

    .masthead h1 {
      display: inline-block;
      font-family: 'Abril Fatface', cursive;
      font-weight: 400;
      font-size: 50px;
      color: #222;
      margin: 0;
      padding: 0 12px 8px 12px;
      line-height: 50px;
      border-bottom: 1px solid #666;
    }

    .masthead h3 {
      font-family: 'Abel', sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 22px;
      color: #222;
      margin: 0;
      padding: 8px 0 0 0;
    }

    .masthead p {
      margin: 0;
      padding: 8px 0;
    }

      .masthead p a {
        color: #222;
        text-decoration: none;
        font-family: 'Abel', sans-serif;
        font-weight: 400;
        font-size: 18px;
      }
}

/*
 * Masthead (iPhone 5)
 * --------------------------------------- */

@media only screen and (device-aspect-ratio: 40/71) {

  .masthead {
    position: relative;
    z-index: 200;
    text-align: center;
    margin: 0 auto;
    padding-top: 8%;
  }

    .masthead h1 {
      display: inline-block;
      font-family: 'Abril Fatface', cursive;
      font-weight: 400;
      font-size: 35px;
      color: #222;
      margin: 0;
      padding: 0 12px 6px 12px;
      line-height: 35px;
      border-bottom: 1px solid #666;
    }

    .masthead h3 {
      font-family: 'Abel', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #222;
      margin: 0;
      padding: 6px 0 0 0;
    }

    .masthead p {
      margin: 0;
      padding: 6px 0;
    }

      .masthead p a {
        color: #222;
        text-decoration: none;
        font-family: 'Abel', sans-serif;
        font-weight: 400;
        font-size: 14px;
      }
}